
@{
    ViewData["Title"] = "Inicio";
}

<style>
    h2 {
        margin-top: 0px;
        margin-bottom: 0px;
    }
</style>

<section class="content-header">
    <h2>Inicio</h2>

</section>

<!-- Main content -->
<section class="content">

    

</section>
<!-- /.content -->